@page
@model ChangePasswordModel
@using Microsoft.AspNetCore.Identity
@using asm.Areas.Identity.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (!User.IsInRole("Customer"))
{
    Layout = "/Views/Widgets/_admin_layout.cshtml";
}
else
{
    Layout = "/Views/Shared/_layout.cshtml";
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@if (!User.IsInRole("Customer"))
{
    var userName = User.Identity?.Name;
    @* var user = await UserManager.FindByNameAsync(userName); *@
    var user = await UserManager.FindByNameAsync(userName);

    // Tìm thấy người dùng, tiếp tục xử lý.
    var firstname = user?.FirstName ?? "NA";
    var lastname = user?.LastName ?? "NA";
    var image = user?.Image ?? "NA";
    var ID = user?.Id ?? "NA";
    var email = user?.Email;
    var phone = user?.PhoneNumber;
    var roles = await UserManager.GetRolesAsync(user);
    var userRole = roles.FirstOrDefault();
    var gender = user?.Gender;

    <div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="title">
                            <h4>Profile</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Profile</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                    <div class="pd-20 card-box height-100-p">
                        <div class="profile-photo">
                            <a href="modal" data-toggle="modal" data-target="#modal" class="edit-avatar"><i
                                    class="fa fa-pencil"></i></a>
                            <img src="@Url.Content(image)" alt="" class="avatar-photo">
                            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body pd-5">
                                            <div class="img-container">
                                                <img id="image" src="@Url.Content(image)" alt="Picture">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            @* <input type="submit" value="Update" class="btn btn-primary"> *@
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-center h5 mb-0">@firstname @lastname</h5>
                        <p class="text-center text-muted font-14">@userRole</p>
                        <div class="profile-info">
                            <h5 class="mb-20 h5 text-blue">Contact Information</h5>
                            <ul>
                                <li>
                                    <span>Email Address:</span>
                                    @email
                                </li>
                                <li>
                                    <span>Phone Number:</span>
                                    @phone
                                </li>
                                <li>
                                    <span>Gender:
                                        <div class="text-center pt-3">
                                            @if (@gender == 1)
                                                {
                                                    <img src="~/admintemplate/vendors/images/male.png" width="100" height="100"
                                                        alt="">
                                                }
                                                else if (@gender == 2)
                                                {
                                                    <img src="~/admintemplate/vendors/images/female.png" width="100"
                                                        height="100" alt="">
                                                }
                                            </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                        <div class="card-box height-100-p overflow-hidden">
                            <div class="profile-tab height-100-p">
                                <div class="tab height-100-p">
                                    <ul class="nav nav-tabs customtab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#setting" role="tab">Change
                                                The Password</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <!-- Setting Tab start -->
                                        <div class="tab-pane fade show active height-100-p" id="setting" role="tabpanel">
                                            <div class="profile-setting">
                                                <form id="change-password-form" method="post">
                                                    <partial name="_StatusMessage" for="StatusMessage" />
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"
                                                        role="alert"></div>
                                                    <ul class="profile-edit-list row">
                                                        <li class="weight-500 col-md-12">
                                                            <div class="row">
                                                                <div class="form-group col-12">
                                                                    <label>The old password</label>
                                                                    <input asp-for="Input.OldPassword"
                                                                        class="form-control form-control-lg" type="password"
                                                                        autocomplete="current-password" aria-required="true"
                                                                        placeholder="">
                                                                    <span asp-validation-for="Input.OldPassword"
                                                                        class="text-danger"></span>
                                                                </div>
                                                                <div class="form-group col-6">
                                                                    <label>The new password</label>
                                                                    <input asp-for="Input.NewPassword"
                                                                        class="form-control form-control-lg" type="password"
                                                                        autocomplete="new-password" aria-required="true"
                                                                        placeholder="">
                                                                    <span asp-validation-for="Input.NewPassword"
                                                                        class="text-danger"></span>
                                                                </div>
                                                                <div class="form-group col-6">
                                                                    <label>The confirm new password</label>
                                                                    <input asp-for="Input.ConfirmPassword"
                                                                        class="form-control form-control-lg" type="password"
                                                                        autocomplete="new-password" aria-required="true"
                                                                        placeholder="">
                                                                    <span asp-validation-for="Input.ConfirmPassword"
                                                                        class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group text-right mt-0">
                                                                <a asp-action="Profile" asp-controller="_User"
                                                                    asp-route-userId="@ID"
                                                                    class="btn btn-secondary">Back</a>
                                                                <button type="submit" class="btn btn-primary">Save &
                                                                    Update</button>
                                                            </div>
                                                        </li>
                                                        <li class="weight-500 col-md-6">
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- Setting Tab End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
                DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit
                    Hingarajiya</a>
            </div>
        </div>
    </div>
}
else
{
    @*
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
<div class="col-md-6">
<form id="change-password-form" method="post">
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
<div class="form-floating mb-3">
<input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password"
aria-required="true" placeholder="Please enter your old password." />
<label asp-for="Input.OldPassword" class="form-label"></label>
<span asp-validation-for="Input.OldPassword" class="text-danger"></span>
</div>
<div class="form-floating mb-3">
<input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true"
placeholder="Please enter your new password." />
<label asp-for="Input.NewPassword" class="form-label"></label>
<span asp-validation-for="Input.NewPassword" class="text-danger"></span>
</div>
<div class="form-floating mb-3">
<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
aria-required="true" placeholder="Please confirm your new password." />
<label asp-for="Input.ConfirmPassword" class="form-label"></label>
<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
</div>
<button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
</form>
</div>
</div> *@
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Change Password</h4>
                    <div class="breadcrumb__links">
                        <a asp-controller="home" asp-action="Index">Home</a>
                        <span>Change Password</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
    <!-- Checkout Section Begin -->
    <section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form id="change-password-form" method="post">
                @* <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div> *@
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                            <strong></strong>
                        </div>
                        @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success">
                                    @TempData["SuccessMessage"]
                                </div>
                            }
                            <h6 class="checkout__title">Change Password</h6>
                            <div class="checkout__input">
                                <p>Current password
                                    <span>*</span>
                                </p>
                                <input asp-for="Input.OldPassword" type="password" autocomplete="current-password"
                                    aria-required="true" placeholder="Please enter your old password." />
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                            <div class="checkout__input">
                                <p>New password<span>*</span></p>
                                <input asp-for="Input.NewPassword" autocomplete="username" aria-required="true"
                                    placeholder="Please enter your new password." type="password" />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                            <div class="checkout__input">
                                <p>Confirm new password<span>*</span></p>
                                <input asp-for="Input.ConfirmPassword" autocomplete="username" aria-required="true"
                                    placeholder="Please confirm your new password." type="password" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="checkout__input__checkbox text-right">
                                <button id="login-submit" type="submit" class="site-btn">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
